$primary: #2192ff;
$secondary: #fdff00;

@font-face {
  font-family: 'stone';
  src: url('./assets/Stone-orgonite.ttf');
}

@font-face {
  font-family: 'lovely';
  src: url('./assets/Hey-Lovely.ttf');
}

@font-face {
  font-family: 'rooster';
  src: url('./assets/Rooster.ttf');
}
