@import '../App.scss';

.App {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  justify-content: center;
  text-align: center;

  .page {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 100%;
    .backgroundImage {
      width: 100%;
      height: 100vh;
    }
    // .content {
    //   background: rgb(255, 255, 255);
    //   background: -moz-linear-gradient(
    //     180deg,
    //     rgba(255, 255, 255, 1) 0%,
    //     rgba(187, 193, 189, 1) 50%,
    //     rgba(51, 51, 51, 1) 100%
    //   );
    //   background: -webkit-linear-gradient(
    //     180deg,
    //     rgba(255, 255, 255, 1) 0%,
    //     rgba(187, 193, 189, 1) 50%,
    //     rgba(51, 51, 51, 1) 100%
    //   );
    //   background: linear-gradient(
    //     180deg,
    //     rgba(255, 255, 255, 1) 0%,
    //     rgba(187, 193, 189, 1) 50%,
    //     rgba(51, 51, 51, 1) 100%
    //   );
    //   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#333333",GradientType=1);
    // }
    .for-title {
      position: relative;
      display: block;
      min-height: 42%;
      margin-bottom: 3rem;
    }

    .library {
      position: relative;
      width: 100%;
      height: 100%;
      font-family: stone, sans-serif;
      color: #3a3a3a;
      bottom: 0;
      padding: 2rem;
      padding-top: 0;
      margin-top: 1rem;
      h2 {
        // font-size: 3rem;
        font-size: calc(1.375rem + 1.5vw);
        line-height: 125%;
        padding: 1rem 0rem;
        text-shadow: 4px 4px 8px #181818;
      }
      h3 {
        font-size: calc(0.9rem + 1.5vw);
        line-height: 125%;
        text-shadow: 4px 4px 8px #181818;
        padding-bottom: 0;
      }
      .container {
        padding: 4%;
      }
      .contact-us {
        position: relative;
        display: block;
        min-height: 40%;
        bottom: 0;
        background-color: #fff;
      }
    }
    .outsideLanding {
      position: fixed;
      align-self: center;
      left: 0;
      top: 0;
      width: 100%;
      height: 100vh;
      object-fit: cover;
      display: block;
      z-index: -1;
    }
  }
  // .fixed-image {
  //   position: relative;
  //   display: flex;
  //   max-width: 90vw;
  //   align-content: center;
  //   justify-content: center;
  //   align-items: center;
  // }
}

@media screen and (max-width: 600px) {
  * {
    font-size: 65%;
  }
}
