@import '../App.scss';

.navbar {
  position: absolute;
  right: 0;
  width: 100%;
  height: 30px;
  display: flex;
  padding-bottom: 2rem;
  background-color: transparent;
  z-index: 99;
  align-items: center;
  box-sizing: border-box;
  svg {
    flex: 1;
    position: fixed;
    right: 4%;
    margin-top: 30px;
    &:hover {
      cursor: pointer;
    }
  }

  .links {
    position: fixed;
    background: white;
    width: 30%;
    height: 100vh;
    right: 0;
    top: 0;
    border-radius: 20px 0px 0px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transform: translateX(100%);
    & a {
      color: #181818;
      font-size: 2rem;
    }
  }
}

@media screen and (max-width: 600px) {
  .links {
    width: 100% !important;
    height: 100vh !important;
  }
}
