@import '../App.scss';
.reservation {
  max-width: 100%;
  margin-top: 20vh !important;
  text-shadow: 0px 4px 12px black;
  text-align: center;
  h3 {
    font-family: sans-serif;
  }
  button {
    position: relative;
    padding: 0.8rem;
    font-size: 1rem;
    border: none;
    border-radius: 0.5rem;
    box-shadow: 4px 4px 24px #181818;
    margin-top: 1rem;
    margin: 2rem 1rem;
    opacity: 0.8;
    animation: fadeIn 1s 1.8s backwards;
    &:hover {
      cursor: pointer;
      top: -4px;
      scale: 105%;
    }
  }
  .cta-sec {
    background-color: $secondary !important;
    color: $primary !important;
  }
  .cta-main {
    background-color: $primary !important;
    color: $secondary !important;
  }
}
