.title {
  text-align: center;
  position: absolute;
  align-items: center;
  top: 0;
  isolation: isolate;
  canvas {
    width: 100vw;
    max-height: 35vh;
    clip-path: polygon(
      100% 0,
      100% 21%,
      100% 32%,
      100% 44%,
      54% 96%,
      70% 62%,
      50% 78%,
      75% 17%,
      14% 100%,
      45% 0
    );

    // clip-path: polygon(
    //   19% 0,
    //   100% 0,
    //   100% 68%,
    //   60% 100%,
    //   44% 100%,
    //   84% 9%,
    //   2% 100%,
    //   0 100%
    // );

    z-index: 2;
  }
  .title-container {
    width: 100%;
    padding-top: 1em;
    inset: 0;
    position: absolute;
    background-color: transparent;

    .title-h1 {
      position: relative;
      font-family: 'rooster';
      font-size: 6.5rem;
      font-weight: bold;
      color: #2f303a;
      letter-spacing: 0.6rem;
      mix-blend-mode: color-burn;
      z-index: 2;
      opacity: 0.8;
      text-shadow: 2px 2px 4px #181818;
      // display: none;
    }
    .overlay {
      font-family: 'rooster';
      font-size: 6.5rem;
      font-weight: bold;
      letter-spacing: 0.6rem;
      mix-blend-mode: color-burn;
      position: absolute;
      padding-top: 15px;
      inset: 0;
      color: #fff;
      z-index: 1;
    }
  }
  .white-box {
    inset: 0;
    position: absolute;
    width: 100%;
    height: 99%;
    background-color: #fff;
    z-index: -1;
  }
}
@media screen and (max-width: 600px) {
  .overlay {
    padding-top: 0px !important;
  }
}
